<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Info"
	  internalLogFile="c:\temp]internal-nlog.txt">


	<extension>
		<add assembly="Nlog.Web.AspNetCore"/>
	</extension>
	<targets>
		<target name="logfile" xsi:type="File" fileName="d:\Restauracja\file.txt" />
		<target name="Exceptions" xsi:type="File" fileName="d:\Restauracja\exceptions.txt" />
		<target name="Time-request" xsi:type="File" fileName="d:\Restauracja\Time-request.txt" />
		
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<logger name="WebApplication3.*" minlevel="Error" writeTo="Exceptions" />
		<logger name="WebApplication3.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTo="Time-request" />
	</rules>
</nlog>